//---------------------------------------------------------------------------
//- # Default Layout
//- 	Basic css/scripts are called here, can be modified in common layout vars
//- 	This is a default layout, it contains all important blocks
//---------------------------------------------------------------------------

block config_vars
	include ../../config/_vars

block lyt_vars
	include ../common/_vars

include ../common/_mixins

//- include needed blocks here 
include ../../blocks/slider/_blk_slider

doctype
html
	head
		
		//-///////////////////////////////////////////////////
		//- Meta Block
		block Lyt_meta
			//-basic meta
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		
		//-///////////////////////////////////////////////////
		//- Title Block
		block Lyt_title
			title #{page_title}
		
		//-///////////////////////////////////////////////////
		//- Styles css Block
		block Lyt_css
			//-
				Here we first include reset
				then basic css
				then we can add styles of included plugins
			
			//- reset
			+load_css(["reset"])
			
			//- Basic Css
			block basic_css
				+load_css(plugins_css)
				+load_css(default_css)
			
		//-///////////////////////////////////////////////////	
		block Lyt_scripts_top
			//-Jquery
			+load_js(["ext/jquery-2.2.2.min"])
	
	//-body
	body(class="#{page_id}")
		
		//-///////////////////////////////////////////////////
		block Lyt_body

			//-///////////////////////////////////////////////////
			block Lyt_header

			//-///////////////////////////////////////////////////
			block Lyt_main

			//-///////////////////////////////////////////////////
			block Lyt_footer

			//-///////////////////////////////////////////////////
			block Lyt_scripts_bottom
				+load_js(plugins_js)
				+load_js(default_js)

		


