doctype
html
	head
		block Lyt_meta
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

		block Lyt_title
			title

		block Lyt_css
			block base_css
		
		block Lyt_scripts_top

	block Lyt_body
		body

			block Lyt_header
			block Lyt_main
			block Lyt_footer

			block Lyt_scripts_bottom
				