$color-topbar-bg 	: darken($color-white,10%);
$color-topbar-logo 	: lighten($color-black,30%);
$color-topbar-link 	: lighten($color-black,30%);
$color-topbar-bg-link-responsive : lighten($color-black,20%);
$color-topbar-link-responsive 	: darken($color-white,10%);

.topBar{
	@include clearfix();
	background: $color-topbar-bg;
	position: relative;
	.logo{
		display: flex;
		flex-direction: column;
		justify-content: center;

		min-height: rem-cal(40px);
		height: 100%;
		h1{
			text-transform: uppercase;
			font-family: ff('quicksand-regular');
			font-size: rem-cal(22px);
			line-height: rem-cal(22px);
			color: $color-topbar-logo;
			padding: rem-cal(5px) 0;
			text-align: center;
		}
	}
	nav{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: rem-cal(40px);
		ul{
			height: 100%;
			li{
				margin: 0 rem-cal(20px);

				a{
					color: $color-topbar-link;
					font-weight: bold;
					text-decoration: none;
					font-family: ff('quicksand-regular');
					&:hover{
						color: lighten($color-topbar-link, 10%);
					}
				}
			}
		}

		@media screen and (max-width : $breakpoints-tablet){
			display: none;
			position: absolute;
			top: 100%;
			background: $color-topbar-bg-link-responsive;
			z-index: 100;
			ul{
				width: 100%;
				li{
					float: none;
					text-align: center;
					margin: 0;
					&:hover{
						background: darken($color-topbar-bg, 20%);
					}
					a{
						color: $color-topbar-link-responsive;
						padding: rem-cal(10px) 0;
						display: block;
						width: 100%;
					}
				}
			}
		}
	}

	span.toggle{
		display: none;
		position: absolute;
		right: rem-cal(10px);
		top: 50%;
		@include transform(translate(0, -50%));

		height: 19px;		
		width: 19px;
		cursor: pointer;
		overflow: hidden;
		
		&::before{
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			height: 3px;
			width: 100%;

			background: #333;

			box-shadow: 0 8px 0 0px #333;
			@include transition(all 0.1s ease-in-out);
		}
		&::after{
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0px;
			height: 3px;
			width: 100%;

			background: #333;
			@include transition(all 0.1s ease-in-out);
		}

		@media screen and (max-width : $breakpoints-tablet){
			display: block;
		}
	}

	&.open{
		span.toggle{
			&::before{
				left: 100%;
				box-shadow: -20px 8px 0 0px #333;
			}
			&::after{
				left: -100%;
			}
		}
		nav{
			display: block;
		}
	}
	&.closed{
		nav{
			display: none;
		}
	}
}