//---------------------------------------------------------------------------
//- # Common Vars
//- 	To override this vars on each page, you must append lyt_vars and then set the new value
//---------------------------------------------------------------------------

//-page
- var page_title 	= "Page"
- var page_id 		= "p-home" // can be used in css/js as identifier of each page


//-default
- var default_css 	= ["reset","styles","responsive"] // can 
- var default_js 	= ["vender/jquery","scripts"]


