// url
- var url_assets 	= "assets/"
- var url_css 		= "#{url_assets}css"
- var url_js 		= "#{url_assets}js"
- var url_imgs 		= "#{url_assets}imgs"

//
- var page_title 	= "Page"
- var page_id 		= "p-home" // can be used in css/js as identifier of each page