<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Index</title>
    <meta name="description" content="test"/>
    <meta name="keywords" content="test"/>
    <link href="assets/css/reset.css" rel="stylesheet"/>
    <link href="assets/css/ext/bxslider/jquery.bxslider.css" rel="stylesheet"/>
    <link href="assets/css/styles.css" rel="stylesheet"/>
    <link href="assets/css/responsive.css" rel="stylesheet"/>
    <script src="assets/js/ext/jquery-2.2.2.min.js"></script>
  </head>
  <body class="p-index">
    <div>
      <h2>Slider width img</h2>
      <ul id="TT">
        <li><img src="assets/imgs/etc/etc-image.jpg"/></li>
        <li><img src="assets/imgs/etc/etc-image.jpg"/></li>
      </ul>
      <script>
        $(document).ready(function(){
        	$("#TT").bxSlider({
        		adaptiveHeight: true,
        	});
        })
        
      </script>
    </div>
    <div>
      <h2>Slider width title + img</h2>
      <ul id="TTT">
        <li><img src="assets/imgs/etc/etc-image.jpg"/>
          <div>
            <h2>Image 1</h2>
            <p> </p>
          </div>
        </li>
        <li><img src="assets/imgs/etc/etc-image.jpg"/>
          <div>
            <h2>Image 1</h2>
            <p> </p>
          </div>
        </li>
      </ul>
      <script>
        $(document).ready(function(){
        	$("#TTT").bxSlider({
        		adaptiveHeight: true,
        	});
        })
        
      </script>
    </div>
    <div>
      <h2>Slider width img + title + p</h2>
      <ul id="TTTT">
        <li><img src="assets/imgs/etc/etc-image.jpg"/>
          <div>
            <h2>Image 1</h2>
            <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, necessitatibus aliquid reiciendis est dolor ex quia incidunt soluta eum in. Perferendis aut odit beatae suscipit consectetur expedita, molestias reiciendis sapiente?</p>
          </div>
        </li>
        <li><img src="assets/imgs/etc/etc-image.jpg"/>
          <div>
            <h2>Image 1</h2>
            <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, necessitatibus aliquid reiciendis est dolor ex quia incidunt soluta eum in. Perferendis aut odit beatae suscipit consectetur expedita, molestias reiciendis sapiente?</p>
          </div>
        </li>
      </ul>
      <script>
        $(document).ready(function(){
        	$("#TTTT").bxSlider({
        		adaptiveHeight: true,
        	});
        })
        
      </script>
    </div>
    <script src="assets/js/ext/jquery.bxslider.min.js"></script>
    <script src="assets/js/scripts.js"></script>
  </body>
</html>