//---------------------------------------------------------------------------
//- # Grid Page
//---------------------------------------------------------------------------


//-///////////////////////////////////////////////
	Config and init


//-We extend a layout
extends ../layouts/default/_default

//- Setting Page Title
append lyt_vars
	- var page_title = "Grid"
	//- - var page_id = "p-index"

//-///////////////////////////////////////////////
	Document

append Lyt_main
	//- Call the breadcrumbs mixin
	.row.exp
		+_com_breadcrumbs([["Index","index.html"],["Grid"]])

	.row.exp
		h1 Exemples of basicGrid

	.row.exp
		h2 Grid's columns :
		blockquote .cols + .sm|md|lg-numbCol
	
	.row.exp
		- for($i=1;$i<=12;$i++)
			.sm-6.md-3.lg-1.cols.exp .sm-6.md-3.lg-1
	
	.row.exp
		.sm-6.md-3.lg-6.cols.exp .sm-6.md-3.lg-6
		.sm-6.md-9.lg-6.cols.exp .sm-6.md-9.lg-6
	
	.row.exp
		.sm-8.md-4.lg-3.cols.exp .sm-8.md-4.lg-3
		.sm-2.md-4.lg-6.cols.exp .sm-2.md-4.lg-6
		.sm-2.md-4.lg-3.cols.exp .sm-2.md-4.lg-3
	
	.row.exp
		.md-2.cols.exp .md-2
		.md-2.cols.exp .md-2
		.md-2.cols.exp .md-2
		.md-6.cols.exp .md-6
	
	.row.exp
		.sm-8.cols.exp .sm-8
		.sm-1.cols.exp .sm-1
		.sm-1.cols.exp .sm-1
		.sm-2.cols.exp .sm-2

	.row.exp
		h2 Advanced Grid's columns :
		blockquote .sm|md|lg-push-nbCol

	.row.exp
		.sm-push-6.md-push-2.lg-push-1.sm-6.cols.exp Pushed by sm-6 md-2 lg-1
		.sm-push-3.md-push-4.lg-push-6.sm-6.cols.exp Pushed by sm-6 md-2 lg-1
		.sm-push-1.md-push-4.lg-push-5.sm-6.cols.exp Pushed by sm-6 md-2 lg-1
	
	.row.exp
		.sm-4.md-hide.sm-show.cols.collapse
			.col.sm-12.exp 1/3 md-hide sm-show
		.sm-4.md-show.sm-hide.cols.collapse
			.col.sm-12.exp 2/3 md-show sm-hide
		.sm-4.lg-show.md-hide.sm-hide.cols.collapse
			.col.sm-12.exp 3/3 lg-show md-hide sm-hide

	.row.exp
		h2 Exemple text + images

	.row.exp
	.row.exp
	.row.exp
		.sm-12.md-6.cols
			p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.sm-12.md-6.cols
			img(src="#{url_imgs}etc/etc-placeholder.jpg")
	
	.row.exp
		.sm-12.md-3.cols
			img(src="#{url_imgs}etc/etc-placeholder.jpg")
		.sm-12.md-9.cols
			p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sunt in culpa qui officia deserunt mollit anim id est laborum. sunt in culpa qui officia deserunt mollit anim id est laborum.  sunt in culpa qui officia deserunt mollit anim id est laborum. sunt in culpa qui officia deserunt mollit anim id est laborum. sunt in culpa qui officia deserunt mollit anim id est laborum. sunt in culpa qui officia deserunt mollit anim id est laborum.


	.row.exp
		- for(i = 0; i<12; i++)
			.sm-6.md-3.cols
				img(src="#{url_imgs}etc/etc-placeholder.jpg")
				p  Lorem ipsum dolor sit amet, consectetur.