//---------------------------------------------------------------------------
//- # basic Mixins
//---------------------------------------------------------------------------


//font-family mixin
@function ff($ff){
	@return $ff, Arial, sans-serif;
}

//px to rem - base font-size 16px
@function rem-cal($px){
	//@return $px;
	@return #{$px/16px}rem;
}
//shortcut for rem-cal
@function rem($px){
	@return rem-cal($px);
}




//clearfix
@mixin clearfix(){
	&::after{
		content: '';
		display: block;
		clear: both;
	}
}
//Transform
@mixin transform($transform){
	-webkit-transform : $transform;
	-moz-transform : $transform;
	-o-transform : $transform;
	transform : $transform;
}
//Transition
@mixin transition($transition){
	-webkit-transition : $transition;
	-moz-transition : $transition;
	-o-transition : $transition;
	transition : $transition;
}


//Fonts loader
@mixin loadFonts($fonts){
	//this is a static fonts loader
	//////////////////////////////
	// Format required : eot woff2 woff ttf svg
	// 
	//////////////////////////////
	@each $fontName in $fonts{
		@font-face {
		  font-family: $fontName;
		  src: url("../fonts/#{$fontName}.eot");
		  src: url("../fonts/#{$fontName}.eot?#iefix") format("embedded-opentype"),
		  		url("../fonts/#{$fontName}.woff2") format("woff2"),
		  		url("../fonts/#{$fontName}.woff") format("woff"),
		  		url("../fonts/#{$fontName}.ttf") format("truetype"),
		  		url("../fonts/#{$fontName}.svg##{$fontName}") format("svg");

		  font-weight: normal;
		  font-style: normal;
		}
	}
		
}