//---------------------------------------------------------------------------
//- # Index Page
//---------------------------------------------------------------------------


//-///////////////////////////////////////////////
	Config and init


//-We extend a layout
extends ../layouts/default/_default

//- Setting Page Title
append lyt_vars
	- var page_title = "Index"
	- var page_id = "p-index"

//- Setting desc & keyws
append Lyt_title
	+set_page_description('test')
	+set_page_keywords('test')


//-///////////////////////////////////////////////
	Document

append Lyt_main
	div
		h2 Slider width img
		+slider('TT',["etc/etc-image.jpg","etc/etc-image.jpg"],"img")
	div
		h2 Slider width title + img
		+slider('TTT',[["etc/etc-image.jpg","Image 1"],["etc/etc-image.jpg","Image 1"]],"img-title")
	div
		h2 Slider width img + title + p
		+slider('TTTT',[["etc/etc-image.jpg","Image 1"," Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, necessitatibus aliquid reiciendis est dolor ex quia incidunt soluta eum in. Perferendis aut odit beatae suscipit consectetur expedita, molestias reiciendis sapiente?"],["etc/etc-image.jpg","Image 1"," Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, necessitatibus aliquid reiciendis est dolor ex quia incidunt soluta eum in. Perferendis aut odit beatae suscipit consectetur expedita, molestias reiciendis sapiente?"]],"text-only")



