//---------------------------------------------------------------------------
//- # Index Page
//---------------------------------------------------------------------------


//-///////////////////////////////////////////////
	Config and init


//-We extend a layout
extends ../layouts/default/_default

//- Setting Page Title
append lyt_vars
	- var page_title = "Index"
	- var page_id = "p-index"

//- Setting desc & keyws
append Lyt_title
	+set_page_description('test')
	+set_page_keywords('test')


//-///////////////////////////////////////////////
	Document

append Lyt_main
	.row.exp
		+topBar("BasicLayout","",[["Github","https://github.com/azgskull/basiclayout/"],["AZGSKULL","https://github.com/azgskull"]])
	
	.row
		h1 Liste of exemples
		ul.list
			li: a(href="topbar.html") TopBar Navigation
			li: a(href="grid.html") Grid
			li: a(href="slider.html") Slider