//---------------------------------------------------------------------------
//- # Grid Page
//---------------------------------------------------------------------------


//-///////////////////////////////////////////////
	Config and init


//-We extend a layout
extends ../layouts/default/_default

//- Setting Page Title
append lyt_vars
	- var page_title = "Slider"
	//- - var page_id = "p-index"

//-///////////////////////////////////////////////
	Document

append Lyt_main
	.row.exp
		h1 Exemple of slider

	.row.exp
		.sm-12.cols
			+slider('TT',['etc/etc-image.jpg','etc/etc-image.jpg','etc/etc-image.jpg'],'img')

	.row.exp
		.sm-12.cols
			h2 Jade Code
			blockquote +slider('TT',['etc/etc-image.jpg','etc/etc-image.jpg','etc/etc-image.jpg'],'img')