//---------------------------------------------------------------------------
//- # TopBar Page
//---------------------------------------------------------------------------


//-///////////////////////////////////////////////
	Config and init


//-We extend a layout
extends ../layouts/default/_default

//- Setting Page Title
append lyt_vars
	- var page_title = "TopBar"
	//- - var page_id = "p-index"

//-///////////////////////////////////////////////
	Document

append Lyt_main
	+topBar("BasicLayout TopBar","",[["Accueil","index.html"],["Grid","grid.html"],["Slider","slider.html"]])
	
	.row.exp
		p It can take all screen width, or row width

	.row.exp
		h2 Row width
	.row.exp
		+topBar("BasicLayout TopBar","",[["Accueil","index.html"],["Grid","grid.html"],["Slider","slider.html"]])