//---------------------------------------------------------------------------
//- # basic theme
//---------------------------------------------------------------------------


//font-family mixin
@function ff($ff){
	@return $ff, Arial, sans-serif;
}

//px to rem - base font-size 16px
@function rem-cal($px){
	//@return $px;
	@return #{$px/16px}rem;
}

//clearfix
@mixin clearfix(){
	&::after{
		content: '';
		display: block;
		clear: both;
	}
}

@mixin transform($transform){
	-webkit-transform : $transform;
	-moz-transform : $transform;
	-o-transform : $transform;
	transform : $transform;
}

@mixin transition($transition){
	-webkit-transition : $transition;
	-moz-transition : $transition;
	-o-transition : $transition;
	transition : $transition;
}