@mixin responsiveLoop(){
	html{
		font-size: 16px;
	}
	
	//desktop
	@for $i from $breakpoints-fullhd-desktop through $breakpoints-tablet+1 {
		@media screen and (max-width: #{$i}){
			html{
				font-size: #{$i * $ratio-px-desktop}px;
			}
		}
	}
	//tablet
	@for $i from $breakpoints-tablet through $default-width-mobile+1 {
		@media screen and (max-width: #{$i}){
			html{
				font-size: #{$i * $ratio-px-tablet}px;
			}
		}
	}

	//mobile
	@for $i from $breakpoints-mobile through 320px {
		@media screen and (max-width: #{$i}){
			html{
				font-size: #{$i * $ratio-px-mobile}px;
			}
		}
	}
}