//---------------------------------------------------------------------------
//- # Theme
//---------------------------------------------------------------------------

///////////////////////////////////////
//// Put here all common theme for typo, form, link etc...

////exemple
html{color: $color-typo-default}

h1{color: $color-typo-h1; font-size: rem-cal(32px)}
h2{color: $color-typo-h2; font-size: rem-cal(24px)}
h3{color: $color-typo-h3; font-size: rem-cal(20px)}
h4{color: $color-typo-h4; font-size: rem-cal(16px)}
h5{color: $color-typo-h5; font-size: rem-cal(12px)}
h6{color: $color-typo-h6; font-size: rem-cal(11px)}

a{color: $color-typo-a}
a:visited{color: $color-typo-a-visited}
a:hover{color: $color-typo-a-hover}

p{color: $color-typo-p}