//---------------------------------------------------------------------------
//- # Config Vars
//- 	To override this vars on each page, you must append config_vars and then set the new value
//---------------------------------------------------------------------------

//- url
- var url_assets 	= "assets/"
- var url_css 		= url_assets+"css/"
- var url_js 		= url_assets+"js/"
- var url_imgs 		= url_assets+"imgs/"