//---------------------------------------------------------------------------
//- # Color Vars
//---------------------------------------------------------------------------

//////////////////////////////
//GRIS
$gris-cloud 		: #fbfbfb;
$gris-thin 			: #e9eaed;
$gris-light 		: #bdbec3;
$gris-regular 		: #434d57;
$gris-semibold 		: #30373f;
$gris-bold 			: #242a30;
$gris-extrabold 	: #050b0f;
$gris-heavy 		: #010000;
//////////////////////////////
//TAUPE
$taupe-cloud 		: #f6f4f5;
$taupe-thin 		: #ece9ea;
$taupe-light 		: #d9d4d5;
$taupe-regular 		: #544749;
$taupe-semibold 	: #544749;
$taupe-bold 		: #444042;
$taupe-extrabold 	: #2a2828;
$taupe-heavy 		: #010000;
//////////////////////////////
//JAUNE
$jaune-cloud 		: #fffdf6;
$jaune-thin 		: #fff6d9;
$jaune-light 		: #ffe797;
$jaune-regular 		: #ffd000;
$jaune-semibold 	: #f9ae00;
$jaune-bold 		: #db9000;
$jaune-extrabold 	: #2d2600;
$jaune-heavy 		: #1d1800;
//////////////////////////////
//TURQUOISE
$turquoise-cloud 	: #f5fafb;
$turquoise-thin 	: #d5ecee;
$turquoise-light 	: #bee2e5;
$turquoise-regular 	: #00b3ba;
$turquoise-semibold : #009ba2;
$turquoise-bold 	: #006875;
$turquoise-extrabold: #08262c;
$turquoise-heavy 	: #00010a;
//////////////////////////////
//CORAIL
$corail-cloud 		: #fef8f7;
$corail-thin 		: #fce1dd;
$corail-light 		: #f6b0aa;
$corail-regular 	: #ea4e5a;
$corail-semibold 	: #c43f4c;
$corail-bold 		: #943745;
$corail-extrabold 	: #280100;
$corail-heavy 		: #1d0000;