//---------------------------------------------------------------------------
//- # Message Block/Mixins
//---------------------------------------------------------------------------

mixin _com_message(type, content)
	div(class="msg-#{type}") !{content}