//---------------------------------------------------------------------------
//- # Message Block/Mixins
//---------------------------------------------------------------------------

mixin _com_message(type, content)
	div.cols.sm-12(class="msg-#{type}") !{content}