//---------------------------------------------------------------------------
//- # Config Vars
//---------------------------------------------------------------------------

//---- breakpoints
//mobile
$default-width-mobile			: 480px;
$breakpoints-mobile				: 768px;
//tablet
$default-width-tablet			: 900px;
$breakpoints-tablet				: 1024px;
//desktop
$default-width-desktop			: 1366px;
$breakpoints-fullhd-desktop		: 1920px;

//ratio px per resolution
$ratio-px-desktop		: 16/$default-width-desktop;
$ratio-px-tablet		: 16/$default-width-tablet;
$ratio-px-mobile		: 16/$default-width-mobile;

//grid
$row-max-width			: 1024px;
$cols 					: 12;
$lg-padding				: rem-cal(16px);
$md-padding				: rem-cal(12px);
$sm-padding				: rem-cal(6px);



